<div>
  <div class="navegacion">
    <ul class="navegacion__lista">
      <li class="navegacion__item">
        <a routerLink="/" routerLinkActive="active" class="navegacion__enlace">Inicio</a>
      </li>

      <li class="navegacion__item">
        <a routerLink="/personajes" routerLinkActive="active" class="navegacion__enlace">Personajes</a>
      </li>

      <li class="navegacion__item">
        <a routerLink="/episodios" routerLinkActive="active" class="navegacion__enlace">Episodios</a>
      </li>

      <li class="navegacion__item">
        <a routerLink="/ubicaciones" routerLinkActive="active" class="navegacion__enlace">Ubicaciones</a>
      </li>
    </ul>
  </div>
</div>

<div class="contenido">
  <router-outlet></router-outlet>
</div>