<div class="menus">
    <div class="menu">
        <h3 class="menu__titulo">
            <a class="menu__enlace" routerLink="/personajes" routerLinkActive="active">
                Personajes
            </a>
        </h3>

        <p class="menu__descripcion">
            Aqui encontraras todos los personajes de la serie Rick and Morty
        </p>

        <img class="menu__imagen" src="./../../assets/imagenes/personajes.jpeg" alt="Rick Sanchez">
    </div>

    <div class="menu">
        <h3 class="menu__titulo">
            <a class="menu__enlace" routerLink="/episodios" routerLinkActive="active">
                Episodios
            </a>
        </h3>

        <p class="menu__descripcion">
            Aqui encontraras todos los episodios de la serie Rick and Morty
        </p>

        <img class="menu__imagen" src="./../../assets/imagenes/episodios.jpg" alt="Episodios">
    </div>

    <div class="menu">
        <h3 class="menu__titulo">
            <a class="menu__enlace" routerLink="/ubicaciones" routerLinkActive="active">
                Ubicaciones
            </a>
        </h3>

        <p class="menu__descripcion">
            Aqui encontraras todas las ubicaciones de la serie Rick and Morty
        </p>

        <img class="menu__imagen" src="./../../assets/imagenes/localizaciones.jpg" alt="Ubicaciones">
    </div>
</div>